# Exemple de fichier .env

# environnement
ENV=dev

# port d'écoute serveur
PORT=8080

# URL de connexion à la base de données
MAILITANCE_DB="postgres://user:password@url:5432/database"
MAILITANCE_DB_SSL=false

# chaîne secrète utilisée pour différents chiffrements
MAILITANCE_SECRET=secret