.btn-primary {
  color: #ced4da;
  background-color: #571aff;
  border-color: #571aff;
}

.text-primary {
  color: #571aff !important;
}

.btn-secondary {
  color: #ced4da;
  background-color: #e93a55;
  border-color: #e93a55;
}

.text-secondary {
  color: #e93a55 !important;
}
